<button {{action "connect"}}>Connect!</button>
<button {{action "readValue"}}>Read value</button>
<button {{action "startNotifications"}}>Start notifications</button>
<button {{action "stopNotifications"}}>Stop notifications</button>
